/* my styles */
body {
    margin: 0px;
    background-image: url(../images/portfolio.jpg);
    height: 100vh;
}

.container {
    display: grind;
    grid-template-columns: 1fr;
}
.navbar-wrapper {
    display: flex;
    justify-content:space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}

/*nav styles*/
.navbar-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.navbar-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-bar a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.navbar-link:hover{
    border-bottom: 1px solid black;
}

.navbar-link a:hover {
    color:black;
}
